/* EmpleadosIndex.css */
.empleados-index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  .empleados-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .empleados-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .empleados-button:hover {
    background-color: #45a049;
  }
  