.FormIS-login,
.FormIS-register {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-top: 5rem;
}
.FormIS-form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.FormIS-form-tab:hover {
  color: #ffffff;
  background-color: #fedb88; 
}



  .FormIS-form-tab {
    color: #000000;
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    margin-bottom: 2rem;
  }
  .FormIS-hidden-input input,
  .FormIS-underline-input input {
    border-radius: 0 !important;
  }
  .FormIS-form-tab.active {
    border-bottom: 2px solid rgb(5, 1, 1);
    font-weight: bold;
  }


  

  
  .FormIS-botonAcceso {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #000000; 
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 4rem;
  }
  
  .FormIS-botonAcceso:hover {
    background-color: #fedb88;
  }
  
  .FormIS-linkIS p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
  

  .terms-checkbox {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: -40px;
  }
  
  .terms-checkbox input {
    margin-right: 5px;
    transform: scale(1);
  }
  
  .terms-checkbox label {
    font-size: 0.65rem;
    color: #333;
    font-weight: 100;
  }
  
  .terms-checkbox a {
    color: #007bff;
    text-decoration: none;
  }
  
  .terms-checkbox a:hover {
    text-decoration: underline;
  }
  
  .tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  