.PDCRL{
    font-weight: bold;
    font-style: italic;
    text-align: left;  
    margin-left: 5%;
    margin-bottom: 2.5rem;
    font-size: 16px;
    background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(183, 183, 183, 0.2)); /* Fondo de degradado */
    color:rgb(183, 183, 183);
    padding: .5rem;

}

