html, body {
  height: 100vh; 
  overflow-y: hidden; 
}
/* Estilos comunes para secciones */
.section {
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin: 2rem;
}
/* Secciones específicas */
.dashboard-container, .dashboard2, .zonas-riesgo-container {
  display: flex;
  gap: 20px;
}
.dashboard {
  display: flex;
  flex-direction: column;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  width:100%; /* Ajustar según sea necesario */
  height: 100%; /* Ajustar según sea necesario */
  padding: 20px; /* Añadir un padding si es necesario */
}
.dashboard2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  grid-template-rows: auto auto; /* Altura automática para cada fila */
  gap: 20px; /* Espacio entre columnas y filas */
  align-items: start; /* Alinea los elementos al inicio de cada celda */
}
/* Asumiendo que tienes un contenedor adicional para los indicadores y la gestión de stock */
.indicadores-container {
  grid-column: 1 / span 2; /* Ocupa las dos columnas */
  display: flex;
  justify-content: space-between; /* Separa los elementos dentro del contenedor */
  padding: 20px; /* Espaciado interno */
}
.gestion-stock-container {
  grid-column: 1 / span 2; /* Ocupa las dos columnas */
  display: flex;
  justify-content: space-between; /* Separa los elementos dentro del contenedor */
  padding: 20px; /* Espaciado interno */
}
.zonas-riesgo-container {
  justify-content: space-around;
  width: 100%;
}
.left-section {
  background-color: #FFEB3B;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  border-radius: 20px;
  margin-left: 2rem;
}
.riesgo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* Ajusta el ancho según necesites */
  height: 50px; /* Ajusta la altura según necesites */
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  margin: 5px;
  transition: transform 0.1s;
}
.riesgo:active {
  transform: translateY(2px);
}
.sinRiesgo {
  background-color: #9E9E9E; /* Gris para 'sin riesgo' */
}

.bajo {
  background-color: #4CAF50; /* Verde para 'bajo' */
}

.medio {
  background-color: #FFEB3B; /* Amarillo para 'medio' */
}

.alto {
  background-color: #FF9800; /* Naranja para 'alto' */
}

.inactivo {
  background-color: #F44336; /* Rojo para 'inactivo' */
}

.right-section, .side-panel, .riesgos-container {
  background-color: #e9e9e9;
}
.right-section {
  border-radius: 20px;
  margin-right: 2rem;
  height: 100%;
}
.side-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 500px; /* o el ancho que prefieras */
  height: 100%; /* para que ocupe toda la altura de la ventana */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 100; /* para asegurarse de que se superponga a otros elementos */
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  background-color: #333;
  color: white;
  text-align: center;
}
.side-panel-container {
  display: none;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  max-height: 0; /* Inicia sin altura para que no se vea */
  overflow: hidden; /* Oculta el contenido mientras la altura es 0 */
  width: 100%; /* Ocupará todo el ancho */
  padding: 0; /* Inicia sin padding */
}
.side-panel-container.visible {
  display: block;
  max-height: 500px; 
  padding: 1rem; 
}
.side-panel.visible {
  transform: translateX(0); 
}

.side-panel-content {
  padding: 20px;
  overflow-y: auto; 
}

.side-panel-close-btn {
  margin-left: auto; /* para alinear el botón a la derecha */
  cursor: pointer;
  background: rgb(255, 246, 127);
  border: none;
  border-radius: 10px;
}
.close-button {
  background-color: #e0d729;
  padding: .75rem;
  width: 40%;
  border: none;
  border-radius: 10px;
  margin: 1rem;
  font-size: 16px;
}.close-button:hover{
  background-color: rgb(158, 158, 18);
}

.SBtext{
  margin-top: .25rem;    /* Menos espacio en la parte superior para los demás elementos */
  margin-bottom: 0.5rem; /* Espacio uniforme en la parte inferior para todos */
  font-size: 18px
}
/* Títulos y etiquetas dentro del panel */
.side-panel h2 {
  font-size: 1.5rem;
  color: #9e9696;
  margin-bottom: 10px;
  font-style: italic;
  margin-bottom: 2rem;
}

/* Estilos para listas o elementos dentro del panel */
.side-panel ul {
  list-style: none;
  padding: 0;
}

.side-panel li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.riesgos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.graficodb1{
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* .button {
  padding: 1rem;
  width: auto; 
  height: 50px; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
  margin: 0 5px; 
  
} .button:hover {
  background-color: #45a049;
}*/
.Filtros {
  display: flex;
  align-items: center; 
  padding-left: 5%; 
  gap: 10px; 
}
.boton-escaneo {
  position: absolute;
  right: 100px;
  top: 10px;
}

.boton-agregar, .boton-dashboard, .Filtro1 {
  height: 50px; /* Ajusta la altura según sea necesario */
  padding: 0 15px; /* Ajusta el padding horizontal para que los elementos tengan el mismo tamaño */
  cursor: pointer;
  border-radius: 10px;
}

/* Si necesitas un ancho específico para los selectores, puedes establecerlo aquí */
.Filtro1 {
  width: auto;
  padding: 0 20px;
  margin-top: .5rem;
}

/* Para el botón, si quieres que se ajuste al contenido */
.boton-agregar, .boton-dashboard {
  width: auto; /* Se ajusta al contenido del botón */
  padding: 0 20px; /* Ajusta el padding para darle más espacio al texto dentro del botón */
}
.boton-dashboard {
  background-color: #e5e220;
  color: black;
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
.boton-dashboard:hover  {
  background-color: rgb(238, 239, 174);
}

.fechayhora{
font-weight: bold;
margin-left: auto;
margin-right: 8rem;
}
/* Estilo para el contenedor de la tabla */
.contenedorTabla {
  max-height: 800px; 
  display: flex;
  justify-content: center; 
  overflow-y: auto; 
  overflow-x: auto; 
  width: 90%; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  margin-left: auto; 
  margin-right: auto; 
}

.tabla {
  width: 100%;
  margin-top: 10px;
  margin-left: auto; 
  margin-right: auto; 
  border-collapse: collapse; 
}
.tabla thead th {
  position: sticky;
  top: 0; 
  z-index: 10; 
  background-color: #707070;
  color: white;
  padding: 1rem;
}
.tabla th, .tabla td {
  padding: 5px;
  border: 1px solid #d1cece;
  text-align: center;
}
.tabla th {
  background-color: #b4b3b3;
}
.tabla tr:hover {
  background-color: #f1f1f1;
}
.tabla tbody {
  padding-top: 50px; 
}
.tabla tbody tr:first-child td {
  padding-top: .5rem; 
}
.tabla th, .tabla td {
  margin-top: 5rem;
  padding: 5px; 
}
/* Estilos para inputs y labels */
input[type="text"], button, label {
  padding: 5px;
  margin: 5px 0;
}
.button-group {
  display: flex;
  gap: 10px; 
  justify-content: center; 
}
.KPIContainer{
  padding: 1rem;
  margin: 2px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  color: #ebe7e7;
  display: flex;
  justify-content: center; /* Esto distribuirá el espacio de manera uniforme entre los botones */
  padding: 20px;
}
/* Estilos para los KPIs */
.kpi{
  padding: 1rem;
  margin: 6px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  color: #ebe7e7;
  display: flex;
  justify-content: space-around; /* Esto distribuirá el espacio de manera uniforme entre los botones */
  padding: 20px;
}
.BGLING {
  height: 25%;
  width: 25%;
  padding: 1rem;
  border-radius: 10px;
  background-color: black;
  color: #FFF;
  font-size: 22px;
  animation: parpadeo 3s linear infinite;
  margin-right: .5rem;
 
}@keyframes parpadeo {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}
.volver{
  height: 25%;
  width: 25%;
  padding: 1rem;
  border-radius: 10px;
  background-color: black;
  color: #FFF;
  font-size: 22px;
}
.navigation-buttons-container {
  display: flex;
  justify-content: center; /* Centrar los botones horizontalmente */
  margin-top: 20px; /* Espacio encima del contenedor de botones */
  background-color: #e1e1e1;
  background-image: linear-gradient(to right, #e1e1e1, #d9d8d8); 
  border: none;
}
.bottom-buttons-container button {
  padding: 10px 20px;
  margin: 0 10px; /* Añade un pequeño espacio entre los botones */
  background: #4CAF50; /* Ejemplo de color de fondo */
  color: white; /* Color del texto */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
}
.contenedor-grafico{
  display: flex;
  justify-content: center;

}

.graficodb1{
  width: 1000px;
  height: 450px;
}


/* Estilos para modal y overlay */
.modal, .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
}
.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay.visible {
  display: flex;
}
/* Clases de ayuda */
.desenfocado {
  filter: blur(10px);
  pointer-events: none;
}

.Titulo{
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/*tabla de ingredinntes mas vendidos*/
.info-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
}

.grafico-section {
  width: 60%;
}

.top-ingredientes-section {
  width: 38%;
  border: 2px solid #ddd;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.top-ingredientes-section table {
  width: 100%;
  border-collapse: collapse;
}

.top-ingredientes-section th, 
.top-ingredientes-section td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #020202;
}

.top-ingredientes-section th {
  background-color: #f8f8f8;
  font-weight: bold;
}
