.table-container {
    display: flex;
    flex-direction: column; /* Añadido para centrar el contenido verticalmente */
    align-items: center;
    margin-top: 10px;
}

.center-text {
    text-align: center;
}

.table-wrapper {
    max-height: 750px; /* Ajusta la altura según sea necesario */
    overflow-y: auto;
    width: 90%;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}

table th, table td {
    padding: 12px 15px;
}

table th {
    background-color: #009879;
    color: #ffffff;
}

table tr {
    border-bottom: 1px solid #dddddd;
}

table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table button {
    padding: 8px 12px;
    margin-right: 5px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table button:hover {
    background-color: #007f67;
}
