table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center; /* Centrar contenido */
    table-layout: auto; /* Ajusta las columnas automáticamente al contenido */
}

table th, table td {
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word; /* Rompe texto largo */
}

table th {
    background-color: #009879;
    color: #ffffff;
    white-space: nowrap; /* Evita que el texto se rompa */
}

table td {
    white-space: nowrap; /* Evita que el texto se rompa */
}

.table-wrapper {
    max-height: 750px;
    overflow-y: auto;
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    table {
        font-size: 14px; /* Reduce el tamaño en pantallas pequeñas */
    }

    table th, table td {
        padding: 8px 10px;
    }
}
