

.order-now-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .order-now-container button {
    background-color: black;
    color: #fefefe;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    width: 250px;
    height: 100px;
    font-family: 'Poppins', sans-serif;
  }


  
  .order-now-container button:hover {
    background-color: #fedb88;
    color: rgb(255, 157, 0);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);   
    
  }

  .tablaDetallesLote {

    margin-left: 25%;
  }
  