
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.top-bar {
  display: flex;
  justify-content: center; 
  width: 100%;
  height: 100%;
  margin-bottom: 10px; 
  align-items: center;
  padding: 0 25px;
  gap:25px
}
/* Agrupación de iconos */
.icon-group {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 2rem;
}

.icon {
  font-size: 2.5rem;
  color: black;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
}

/* Efecto al pasar el ratón (para otros íconos) */
.icon:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

/* El ícono de advertencias, por defecto, en gris */
.warning-icon {
  filter: grayscale(100%);
}

/* Cuando hay advertencias, forzamos el color a 0% y añadimos parpadeo */
.warning-active {
  filter: grayscale(0%) !important;
  animation: blink-effect 1s infinite alternate;
}

/* Keyframes de parpadeo */
@keyframes blink-effect {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.current-date {
  font-size: 1.2rem;
  text-align: center;
  line-height: .75;
  margin-top: 2rem;
}
.current-date h1{
font-style: italic;
font-size: 1.5rem;
font-weight: bold;
}
.dashboard-buttons {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; 
}

/* Alineación de los botones */
.button-row {
  display: flex;
  justify-content: space-evenly;  
  width: 100%;
  max-width: 1000px; 
}

.dashboard-button {
  width: 48%;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  background-color: #cccccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.dashboard-button:hover {
  transform: scale(1.02);
  background-color: #cccccc;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Colores de los botones */
.pedidos,
.ingredientes,
.datos-servicio,
.route-setter {
  background-color: #1a1919;
  font-size: 25px;
  color: white;
}

/* Botón de suspender servicio */
.suspender-servicio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  max-width: 1250px; 
}
.suspender {
  background-color: #8b8976;
  color: #1a1919;
  font-weight: 900;
  padding: 20px;
  font-size: 35px;
  border-radius: 10px;
  cursor: pointer;
  width: 80%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}
.suspender:hover {
  transform: scale(1.05);
  background-color: #fedb88;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Efectos de animación */
.blinking {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.pulsating {
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
/* Aplicación uniforme a botones */
.dashboard-button.route-setter {
  font-weight: bold;
}

.dashboard-button.route-setter.active-route {
  background-color: #ffc107; /* Amarillo para destacar */
  color: #000; /* Texto negro para contraste */
}

.dashboard-button.blinking {
  background-color: red;
  color: white;
}


/*modal ubicaciones*/

.estado-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.estado-button.activo {
  background-color: #49b11c; /* Verde */
  color: white;
}
.estado-button.inactivo {
  background-color: #dc3545; /* Rojo */
  color: white;
}
.modal-footer button {
  color: #f6f3f3;
  background-color: #000;
  margin-top:  2rem;

  align-items: center;
}